<div class="row">
    <h1>Proyectos a realizar</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Mis tres solcitos</h1>
            <p> Aqui espero poder completar el proyecto de la pagina "Mis Tres Solcitos"</p>
        </div>
        <div class="col-sm12 col md-3 
        col-lg-3 offset-md-1 
        offset-lg-1 parte2">
            <img src="../../../assets/tressolcitos.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>CyNet</h1>
            <p> Aqui espero poder completar el proyecto de la pagina "CyNet"</p>
        </div>
        <div class="col-sm12 col md-3 
        col-lg-3 offset-md-1 
        offset-lg-1 parte2">
            <img src="../../../assets/cynetc.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
