<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bustos Maria de las Mercedes</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <span class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laboriosam dignissimos aspernatur repellat deserunt, pariatur sapiente tempore officiis? Cum, autem! Nisi, voluptatibus possimus! Temporibus tenetur quasi sed, illum cumque aliquid.</p>
    </span>
</div>