<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/fotommb.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Bustos Maria de las Mercedes</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <span class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Soy una mujer de mediana edad, que dedique la mayor parte de mi vida a la crianza de mis hijos. Hoy a mis 43 años he decidido emprender el camino de la programación, lo cual me resultó un desafío muy interesante porque no tenia ningún tipo de conocimiento previo. 
           Siempre tuve interés por los procesos creativos y me dedique a realizar cursos de distintas manualidades, pero al ver el mundo que ofrecía la programación sentí mucho entusiasmo por emprender este viaje...
           Responsabilidad, compromiso, entusiasmo, espíritu emprendedor  y creatividad son cualidades que me destacan. 
           A través de esta experiencia espero consolidarme profesionalmente en un empleo donde el esfuerzo y el buen desempeño sean reconocidos, además de permitirme nuevas oportunidades de desarrollo personal y profesional.
            </p>
    </span>
</div>